{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi profili {% endblock title %}

{% block content %}

    <div class="container">
        <h3>Xush kelibsiz, {{ user.username }}</h3>
        <button type="submit"><a href="{% url 'logout' %}" class="text-danger">Logout</a></button>
        <h3>Ma'lumotlarim</h3>
            <img src="{{ profile.photo.url }}" alt="image" width="15%">
            <h5>Tug'ilgan yilingiz: {{ profile.date_of_birth }}</h5>
                <label>Username: </label><input value="{{ user.username }}" readonly placeholder="kiritilmagan">
                <label>Emailingiz: </label><input value="{{ user.email }}" readonly placeholder="kiritilmagan">
                <label>Ismingiz: </label><input value="{{ user.first_name }}" readonly placeholder="kiritilmagan">
                <label>Familiyangiz: </label><input value="{{ user.last_name }}" readonly placeholder="kiritilmagan">
            <button type="submit"><a href="{% url 'password_change' %}">Parolni almashtirish</a></button>
            <button type="submit"><a href="{% url 'edit_user_information' %}" class="text-danger">Profilni o'zgartirish</a></button>
    </div>

{% endblock %}