{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} Sport xabarlari {% endblock title %}
{% block content %}


    {% for news in sport_news %}
        <div class="container">
            <div class="row">
                <div class="col-sm-4 clearfix">
                    <a href="{{ news.get_absolute_url }}">
                        <img class="" src="{{ news.image.url }}" alt="{{ news.title }}" style="width:40%">
                        <h4 class="">{{ news.title }}</h4>
                        <p><i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}</p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}